<!DOCTYPE html>
<html>
<head>
  <title>Standard view</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "standard_view/application", media: "all" %>
  <%= javascript_include_tag "standard_view/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
