<!DOCTYPE html>
<html>
<head>
  <title>
    <%= "#{content_for(:title)} #{t("application.separator")} " if content_for?(:title) %><%= t("application.title") %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render "stylesheets" %>
  <%= render "javascripts" %>
</head>
<body>
  <%= render "masthead" %>
  <%= render "flash_messages" %>
  <%= yield %>
</body>
</html>
