<% list = Material::List.for(facet.record_class) %>

<%# Title must remain outside the cache block or it will not be assigned properly (since it affects the page layout) %>
<% content_for(:title) { list.title } %>

<% cache facet do %>
  <%# Within the cache block, mount the facet for rendering %>
  <% list.mount_facet(facet) %>

  <%= content_tag :main, id: "#{list.parameterized_title}-index", class: "container" do %>
    <header>
      <%= render "standard_view/breadcrumbs", material: list if list.parent? %>

      <%# if action_name == "index" %>
        <%# if controller.action_methods.include?("new") && (!controller.respond_to?(:new?) || controller.new?) %>
          <%#= link_to t("add_new"), { action: :new }, class: "btn btn-primary btn-lg float-right" %>
        <%# end %>
      <%# end %>

      <%#= content_tag(:h5, class: "text-muted") { heading_for_model(parent) } if has_parent %>

      <h1 class="mb-3"><%= list.title %></h1>

      <%#= render "navigation/tabs" if content_for?(:navigation_tabs) %>
    </header>

    <%#= content_tag(:hr) unless content_for?(:navigation_tabs) %>

    <% unless content_for?(:page_content) %>
      <% content_for(:page_content) do %>
        <%# if content_for?(:subnav_content) || uses_filter %>
          <%#= content_for(:subnav_content) if content_for?(:subnav_content) %>

          <%# if uses_filter %>
            <%#= render "filter", field: filter_by, default: local_assigns[:filter_default], model: collection.model %>
          <%# end %>
<!--          <hr>-->
        <%# end %>

        <div class="row">
          <div class="col-12">
            <%# filtered_collection = collection %>
            <%# if uses_filter %>
              <%# if params[:filter].present? %>
                <%# filtered_collection = filtered_collection.public_send(params[:filter].to_sym) %>
              <%# elsif has_filter_default && !params[:all].present? %>
                <%# filtered_collection = filtered_collection.public_send(filter_default) %>
              <%# end %>
            <%# end %>

            <%= render "standard_view/paginated_collection", list: list, is_filtered: facet.filtered? %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= render "standard_view/page_content" %>
  <% end %>
<% end %>
