<% material_law = law(material) %>
<%= simple_form_for [ material.parent, material ], wrapper: :horizontal_form do |form| %>
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0"><%= t(".#{actionable_name}.title", title: material.title) %></h4>
    </div>
    <div class="card-body">
      <% if lookup_context.template_exists?("form_fields", controller_name, true) %>
        <%= render "form_fields", form: form %>
      <% end %>

      <% if lookup_context.template_exists?("#{actionable_name}_form_fields", controller_name, true) %>
        <%= render "#{actionable_name}_form_fields", form: form %>
      <% end %>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-6">
          <%= link_to_destroy_with_confirmation_for_record(material) if material.persisted? && material_law.destroy? %>
        </div>
        <div class="col-6 text-right">
          <%= form.button :submit, class: "btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
