<% cache material do %>
  <% material_law = law(material) %>

  <% unless content_for?(:attributes_action) %>
    <% content_for(:attributes_action) do %>
      <% if material_law.edit? %>
        <%= link_to t("common.edit"), { action: :edit }, class: "btn btn-primary btn-sm float-right" %>
      <% elsif material_law.destroy? %>
        <%= link_to_destroy_with_confirmation_for_record(material, extra_classes: "btn-sm float-right") %>
      <% end %>

      <%= content_for(:extra_attributes_action) if content_for?(:extra_attributes_action) %>
    <% end %>
  <% end %>

  <div class="card">
    <div class="card-header">
      <%= content_for(:attributes_action) %>

      <h4 class="mb-0"><%= t(".title") %></h4>
    </div>
    <div class="card-body p-0">
      <table class="table m-0">
        <tbody>
        <% material.sorted_attribute_names.each do |attribute_name| %>
          <tr>
            <th><%= material.human_attribute_name(attribute_name) %></th>
            <td>
              <% attribute_value = attribute_value_for material, attribute_name %>
              <% if attribute_value.present? %>
                <%= attribute_value %>
              <% else %>
              <%= missing_attr_partial_name = "#{attribute_name}_missing" %>
              <% if view_context.exists?(missing_attr_partial_name) %>
                <%= render missing_attr_partial_name %>
                <% if lookup_context.template_exists?(missing_attr_partial_name, controller_name, true) %>
                    <%= render missing_attr_partial_name, material: material %>
                <% else %>
                    <%= badge t("common.not_defined"), type: :danger, pill: true %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
